.client {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 200px;
}

.clientLogos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 76.39%;
}