.landing {
    margin-top: 200px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.landingContainer {
    width: 76.39%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.landingLeft {
    width: 50%;
    display: flex;
    flex-direction: column;  
}


.landingLeft p {
    color: #6B708D;
    width: 435px;
    padding-left: 0px;
}

.landingLeftBoton {
    display: flex;
    flex-direction: row;
}

.landingLeftBoton .botonNormal{
    background: #072AC8;
    color: white;
    width: 150px;
    height: 52px;
    border: none;
}

.landingLeftBoton .botonIncolor {
    background-color: transparent;
    width: 150px;
    height: 52px;
    border: none;
    color: #6B708D;
}


.landingRight {
    width: 50%;
    height: 650px;
}

.landingRightFotoGrande {
    background-image: url("../../project-assets/hero-section/hero-image.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 90%;
    width: 100%;
    position: relative;
}


.landingRightFotoGrande img{
    height: 296px;
}

.img1{
    position: absolute;
    left: -10%;
    top: 0%;
}

.img2{
    position: absolute;
    bottom: -10%;
    right: -10%;
}



@media (min-width: 831px) and (max-width: 1100px) { /*tablet vertical*/
  
    .landing {
        height: 110vh;
    }
    .landingContainer {
        width: 98%;
        height: 80%;
    }

    .landingLeft {
        width: 40%;
    }
    .landingRight{
        width: 60%;
    }

    .landingLeftBoton{
        width: 100%;
    }

    .botonNormal{
        width: 50%;
    }
    
    .botonIncolor {
        width: 50%;
    }

    .landingRightFotoGrande img{
        height: 246px;
    }
    
    .img1{
        left: 0%;
    }
    
    .img2{
        right: 10%;
    }

}

@media (max-width: 830.98px) { /*smartphone horizontal*/

    .landing {
        height: 150vh;
    }
  
    .landingContainer {
        flex-direction: column;
        justify-content: start;
        gap: 30px;
        width: 98%;
        height: 100%;
    }

    .landingLeft {
        width: 70%;
    }

    .landingRight{
        width: 80%;
        height: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .landingRightFotoGrande img{
        height: 156px;
    }

    .landingRightFotoGrande{
        width: 60%;
    }

    .img1{
        left: -5%;
    }
    
    .img2{
        right: 10%;
        bottom: -20%;
    }

}

@media (min-width: 370px) and (max-width: 570px) { /*smartphone vertical*/
    .landingLeft {
        width: 90%;
        word-break:break-all;
    }

    .landing h1{
        font-size: 40px;
    }

    .landingRight{
        width: 90%;
    }

    .landingRightFotoGrande img{
        height: 126px;
    }

    .img1{
        left: -5%;
    }
    
    .img2{
        right: 10%;
        bottom: -5%;
    }

}