
.landing {
    margin-top: 100px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.landingContainer {
    width: 76.39%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.landingLeft {
    width: 50%;
    display: flex;
    flex-direction: column;    
}


.landingLeft p {
    color: #6B708D;
    width: 435px;
    padding-left: 0px;
    
}

.landingLeftBoton {
    display: flex;
    flex-direction: row;
}

.landingLeftBoton .botonNormal{
    background: #072AC8;
    color: white;
    width: 150px;
    height: 52px;
    border: none;
}

.landingLeftBoton .botonIncolor {
    background-color: transparent;
    width: 150px;
    height: 52px;
    border: none;
    color: #6B708D;
}


.landingRight {
    width: 50%;
    height: 650px;
    position: relative;
}

.landingRightFotoGrande {
    background-image: url("/project-assets/hero-section/hero-image.png");
    background-size: cover;
    height: 100%;
    width: 100%;
}



.img1 img{
    height: 296px;
}

.img2 img{
    height: 296px;
    position: absolute;
    top: 70%;
    left: 60%;
}



@media (min-width: 831px) and (max-width: 1100px) { /*tablet vertical*/
  
}

@media (max-width: 830.98px) { /*smartphone horizontal*/
  
}

@media (min-width: 370px) and (max-width: 570px) { /*smartphone vertical*/
     
}