.projects {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.projects p {
    font-size: 17px;
    padding-left: 20px;
    color: #6B708D;
}

.projects a {
    font-size: 17px;
    padding-left: 20px;
}



.recentProjects {
    width: 76.39%;
    height: 76.92%;
}

.projectRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5%;
}

.projectRow img{
    height: 50%;
    width: 100%;
}

.projectColumn {
    background-color: white;
    width: 30%;
}



