.services {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
    margin-top: 200px;
}

.services p {
    font-size: 17px;
    color: #6B708D;

}

.services a {
    font-size: 17px;
}



.ourServices {
    width: 76.39%;
    height: 100%;
}

.servicesRow {
    width: 100%;
    height: 66%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
}

.servicesRow .fondo {
    position: relative;
    background-color: #ECF7FF;     
    border-radius: 50%;
    height: 80px;
    width: 80px;
    top: 5%;
    left: 5%;
    margin-bottom: 50px;
}

.servicesRow img{
    position: absolute;
    height: 40px;
    width: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.servicesColumn {
    background-color: white;
    height: 100%;
    width: 30%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.servicesColumn > a, p, h4 {
    padding-right: 20px;
    padding-left: 20px;
}




@media (min-width: 831px) and (max-width: 1100px) { /*tablet vertical*/
  
}

@media (max-width: 830.98px) { /*smartphone horizontal*/
  
}

@media (min-width: 370px) and (max-width: 570px) { /*smartphone vertical*/
     
}

