.contacto {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 130vh;
}

.contactUs {
    width: 76.39%;
}

.formulario  {
    width: 76.39%;    
    height: 80%;
    color: #6B708D;
}

.formulario label {
    font-size: 20px;
    line-height: 30px;
    height: 30px;
}

.formulario input {
    font-size: 17px;
    background-color: rgba(107, 112, 141, 0.1);
    border: none;
    height: 70px;
    width: 100%;
}

/*padding solo para el placeholder*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding-left: 10px;
 }

 ::-moz-placeholder { /* Firefox 19+ */
    padding-left: 3px;
 }
 ::-ms-input-placeholder { /* IE 10+ */
    padding-left: 3px;
 }

.fila {
    height: 110px;
    width: 100%;
    margin-top: 40px;
}

.formMailPhone {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.formMailPhone input {
    gap: 20%;
}

.formMessage input {
    height: 200px;
    text-align: start;
}

.botonFinal {
    background: #072AC8;
    color: white;
    height: 80px;
    border: none;
    width: 76.39%;
}



@media (min-width: 831px) and (max-width: 1100px) { /*tablet vertical*/
  
}

@media (max-width: 830.98px) { /*smartphone horizontal*/
  
    .contacto {
        margin-top: 100px;
        height: 140vh;
    }

    .fila {
        margin-top: 20px;
    }

    .formMailPhone {
        flex-direction: column;
    }

    .formMessage input {
        height: 180px;
    }

}

@media (min-width: 370px) and (max-width: 570px) { /*smartphone vertical*/
    .contactUs {
        text-align: center;
    }
}
