
.headerNew {
    position: fixed;
    z-index: 100;
    margin-top: -200px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: #ECF7FF;
    transition: 1s;
}

.menu{
    width: 76.39%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu img{
    height: 18.5px;
    width: 60.5px;
}

.menu_items {
    display: flex;
    list-style: none;
    gap: 20%;
}

.menu_items li a{
    display: block;
    color: #6B708D;    
}

.menu_items a:hover{
    color: blue;
    transition: .4s;
}

/* .menu_items a:active {
    color: blue;
    font-weight: bold;
} */

.btn_menu {
    font-size: 25px;
    color: blue;
    cursor: pointer;
    display: none;
    padding: 20px;
}

.btn_menu.show {
    background-color: #C8C8C8;
    transition: 1s;
}

ul.show {
    top:65px;
    right: 0%;
}

.botonContacto {
    background: #072AC8;
    width: 150px;
    height: 52px;
    border: none;
}

.botonContacto a{
    color: white !important;
}

.botonContacto1 {
    display: none;
}

.darkModeSwitch{
    background: #072AC8;
    display:flex;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
}

.darkModeSwitch span{
    width:30px;
    height:30px;
    line-height:30px;
    display:block;
    color:#fff;
    background: none;
}

.darkModeSwitch::after{
    display:block;
    background: #fffbf5;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: -1px;
    left: 0;
    right:unset;
    border-radius: 3rem;
    transition: all .5s ease;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .5);
    content: ""; /*para que aparezca el fondo circular blanco*/
}

.darkModeSwitch.active{
    background: #ffad14;
}
  .darkModeSwitch.active::after{
    left:unset;
    right:0;
}



@media (min-width: 831px) and (max-width: 1100px) { /*tablet vertical*/
    .btn_menu {
        display: inline-flex;
    }

    .menu{
        width: 100%;
    }
    
    .menu_items{
    margin-left: 450px;
    position: fixed;
    width: 100%;
    height: fit-content;
    top: -100vh;
    text-align: left;
    transition: all .4s;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    background-color: #C8C8C8;
    }

    body.dark .btn_menu.show {
        background-color: #6B708D;
        transition: 1s;
    }

    body.dark .menu_items{
        background-color: #6B708D;
        transition: 1s;
    }

    body.dark .fa{
        color: #ffad14;
        transition: 1s;
    }
    
    body.dark .menu_items li a{
        color: #C8C8C8;;  
        transition: 1s;  
    }

    .botonContacto {
        display: none;
    }

    .botonContacto1 {
        display: block;        
    }

    .menu_items li {
    margin: 30px, 0 0 0;
    line-height: 30px;
    }

    .menu_items li:hover {
    background-color: none;
    }

    .menu_items li a{
    font-size: 20px;
    font-weight: bold;
    }
}

@media (max-width: 830.98px) { /*smartphone horizontal*/
    
    .btn_menu {
        display: inline-flex;
    }

    .menu{
        width: 100%;
    }
    
    .menu_items{
    margin-left: 450px;
    position: fixed;
    width: 100%;
    height: fit-content;
    top: -100vh;
    text-align: left;
    transition: all .4s;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    background-color: #C8C8C8;
    }

    body.dark .btn_menu {
        background-color: #6B708D;
        transition: 1s;
    }

    body.dark .menu_items{
        background-color: #6B708D;
        transition: 1s;
    }
    
    body.dark .menu_items li a{
        color: #C8C8C8;;  
        transition: 1s;  
    }

    .botonContacto {
        display: none;
    }

    .botonContacto1 {
        display: block;        
    }

    .menu_items li {
    margin: 30px, 0 0 0;
    line-height: 30px;
    }

    .menu_items li:hover {
    background-color: none;
    }

    .menu_items li a{
    font-size: 20px;
    font-weight: bold;
    }
   
}

@media (min-width: 370px) and (max-width: 570px) { /*smartphone vertical*/
     
}
