.otherProjects {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.otherProjects p {
    font-size: 17px;
    padding-left: 20px;
    color: #6B708D;
}

.otherProjects a {
    font-size: 17px;
    padding-left: 20px;
    color: blue;
}



.otherRecentProjects {
    width: 76.39%;
    height: 76.92%;
}

.otherProjectRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5%;
}

.otherProjectRow img{
    height: 50%;
    width: 100%;
}

.otherProjectColumn {
    background-color: white;
    width: 30%;
}


@media (min-width: 831px) and (max-width: 1100px) { /*tablet vertical*/
    
    .otherProjects {
        height: 100vh;
    }
    
    .otherRecentProjects {
        width: 100%;
    }
    
    .otherProjectRow {
        height: 70%;
    }

    
}

@media (max-width: 830.98px) { /*smartphone horizontal*/
  
    .otherProjects {
        height: 240vh;
    }

    .otherProjects h3 {
        text-align: center;
    }

    .otherRecentProjects {
        height: 90%;
    }
    
    .otherProjectRow {
        height: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .otherProjectColumn {
        height: 50%;
        width: 70%;
        justify-content: center;
    }
}


@media (min-width: 370px) and (max-width: 570px) { /*smartphone vertical*/
     
    .otherProjectColumn {
        height: 50%;
        width: 80%;
        justify-content: center;
    }
}


