@import url("./comun/footer.css");
@import url("./comun/navbar.css");
@import url("./comun/newsletter.css");

@import url("./contact/contacto.css");

@import url("./index/client.css");
@import url("./index/landing.css");
@import url("./index/projects.css");
@import url("./index/services.css");
@import url("./index/testimonial.css");

@import url("./projectw/otherprojects.css");
@import url("./projectw/simplify.css");


h1 {
    color: #292E47;
    font-size: 60px;
    line-height: 70px;
    padding-left: 0px;
    margin-left: 0px;
    transition: 1s;
}

h3 {
    color: #292E47;
    font-size: 40px;
    line-height: 46px;
    padding-left: 0px;
    margin-left: 0px;
    transition: 1s;
}


/* recent projects y our services */
h4 { 
    color: #292E47;
    font-size: 24px;
    line-height: 28px;
    padding-left: 20px;
    transition: 1s;

}

p {
    font-size: 20px;
    line-height: 30px;
}

button {
    font-size: 17px;
}


body{
    background-color: #ECF7FF;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 1s;
}

body a{
    text-decoration: none;
}

body.dark{
    background-color:  #25221b;
    transition: 1s;
}

body.dark h1{
    color: #FFC600;
    transition: 1s;
}

body.dark h3{
    color: #FFC600;
    transition: 1s;
}


body.dark .formulario input{
    background-color: rgba(211, 211, 211, 0.303);
    color: lightgray;
    transition: 1s;
}

body.dark .formulario textarea{
    background-color: rgba(211, 211, 211, 0.303);
    color: lightgray;
    transition: 1s;
}

body.dark .headerNew{
    background-color: #25221b;
    transition: 1s;
}

body.dark .projectColumn{
    background-color: #25221b;
    border: solid 1px lightgray;
    transition: 1s;
}

body.dark .projectColumn h4{
    color: #FFC600;
    transition: 1s;
}

body.dark .servicesColumn{
    background-color: #25221b;
    border: solid 1px lightgray;
    transition: 1s;
}

body.dark .servicesColumn h4{
    color: #FFC600;
    transition: 1s;
}

body.dark .servicesRow .fondo{
    background-color: #ffad14; 
    transition: 1s;  
      
}

body.dark .otherProjectColumn{
    background-color: #25221b;
    border: solid 1px lightgray;
    transition: 1s;
}

body.dark .otherProjectColumn h4{
    color: #FFC600;
    transition: 1s;
}

body.dark .simplify span{
    color: #FFC600;
    transition: 1s;
}



body.dark .client img{
    -webkit-filter: none;
    filter: none;
    transition: 1s;
}

body.dark button{
    background-color: rgb(8, 8, 117);
    transition: 1s;
}

body.dark .landingLeft button{
    background-color: rgb(8, 8, 117);
    transition: 1s;
}


