.services {
    display: flex;
    justify-content: center;
    width: 1440px;
    margin-top: 200px;
}

.services p {
    font-size: 17px;
    color: #6B708D;

}

.services a {
    font-size: 17px;
}



.ourServices {
    width: 1100px;
}

.servicesRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 60px;
}

.servicesRow .fondo {
    position: relative;
    background-color: #ECF7FF;     
    border-radius: 50%;
    height: 80px;
    width: 80px;
    top: 5%;
    left: 5%;
    margin-bottom: 50px;
}

.servicesRow img{
    position: absolute;
    height: 40px;
    width: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.servicesColumn {
    background-color: white;
    height: 380px;
    width: 340px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.servicesColumn > a, p, h4 {
    padding-right: 20px;
    padding-left: 20px;
}




